declare -A cameras
cameras[cam1]=admin:12345@192.168.1.100:554
cameras[cam2]=admin:12345@192.168.1.101:554

backupPath=/mnt/backup/

longitude=90.0000N
latitude=-0.00000W

remoteServer=user@host.co.uk
remoteScript=remote/path/script.sh  
remoteImagePath=/home/remote/path
