declare -A cameras
cameras[cam1]=http://admin:password@192.168.1.100/ISAPI/Streaming/channels/101/picture
cameras[cam2]=http://admin:password@192.168.1.101/ISAPI/Streaming/channels/101/picture

savePath=/mnt/ram/

longitude=90.0000N
latitude=-0.00000W

remoteServer=user@host.co.uk
remoteScript=remote/path/script.sh  
remoteImagePath=/home/remote/path
